<div id="logo"><img src="{{asset '/images/logo.png'}}" height="40"></div>
<p class="lead">An opinionated <a href="http://sailsjs.org" target="_blank">Sails.js</a> to-do list starter app.</p>
<p><a href="/tasks" class="btn btn-lg btn-primary">Login</a></p>
