<div id="logo"><a href="#/"><img src="{{asset '/images/logo.png'}}" height="40"></a></div>
<p class="lead">An opinionated <a href="http://sailsjs.org" target="_blank">Sails.js</a> to-do list starter app.</p>

<div ng-view ng-cloak></div>
