<div class="row" ng-controller="UserListCtrl as userListCtrl">
  <div class="col-md-9">

    <div class="page-header">
      <h1>Users <small>({{userListCtrl.paginator.totalCount}})</small></h1>
      <ul class="header-nav">
        <li><a href="javascript:void(0)" class="with-tooltip" title="Add a new user" data-container="body"><span class="fa fa-plus"></span></a></li>
      </ul>
      <span id="spinner" us-spinner="{color: '#aaa'}" spinner-theme="small" spinner-on="userListCtrl.loading"></span>
    </div>
    <div class="alert alert-danger" ng-show="userListCtrl.error">Sorry, looks like something went wrong. Please try again later.</div>

    <div class="admin-list">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Roles</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="user in userListCtrl.users">
            <td>{{user.firstname}} {{user.lastname}}</td>
            <td>{{user.email}}</td>
            <td>{{userListCtrl.roleList(user)}}</td>
            <td class="row-nav">
              <ul class="list-inline">
                <li><a href="javascript:void(0)"><span class="fa fa-pencil with-tooltip" title="Edit"></span></a></li>
                <li><a href="javascript:void(0)" ng-click="userListCtrl.delete(user)"><span class="fa fa-times with-tooltip" title="Delete"></span></a></li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>

      <nav class="paging">
        <ul class="paginator" ng-class="{spinning: userListCtrl.paging}">
          <li class="previous" ng-class="{disabled: !userListCtrl.paginator.hasPreviousPage()}">
            <a href="javascript:void(0)" ng-click="userListCtrl.previousPage()">
              <span class="fa fa-chevron-left"></span>
            </a>
          </li>
          <li class="current">
            <form>
              <input type="text" class="form-control" id="current-page" ng-model="userListCtrl.toPageNum" ng-change="userListCtrl.toPage()" ng-blur="userListCtrl.resetPageNum()" ng-disabled="userListCtrl.paging" />
            </form>
          </li>
          <li class="count">of {{userListCtrl.paginator.getPageCount()}}</li>
          <li class="next" ng-class="{disabled: !userListCtrl.paginator.hasNextPage()}">
            <a href="javascript:void(0)" ng-click="userListCtrl.nextPage()">
              <span class="fa fa-chevron-right"></span>
            </a>
          </li>
        </ul>
        <span id="paging-spinner" us-spinner="{color: '#aaa'}" spinner-theme="small" spinner-on="userListCtrl.paging"></span>
      </nav>
    </div>

  </div>
</div>
