body#home {
  #logo {
    margin-bottom: 20px;
  }
  form {
    .error-msg {
      margin-bottom: 20px;
      color: @brand-danger;
      text-shadow: none;
    }
  }
  #register {
    font-size: @font-size-small;
    font-weight: 300;
  }
}
