body#home {
  #logo {
    margin-bottom: 20px;
  }
  form {
    max-width: 250px;
    margin: 0 auto;
    &.ng-submitted {
      input.form-control.ng-invalid {
        border-color: @brand-danger;
      }
    }
    .form-group {
      text-align: center;
      input.form-control {
        display: inline-block;
        border-style: none none solid none;
        border-color: rgba(255,255,255,0.5);
        background-color: transparent;
        border-radius: 0;
        outline: none;
        box-shadow: none;
        color: #fff;
        font-weight: 300;
        &.ng-dirty {
          &.ng-invalid {
            border-color: @brand-danger;
          }
        }
      }
      .form-control-feedback {
        pointer-events: auto;
        a {
          color: @brand-danger;
        }
      }
      .help-block {
        color: @brand-danger;
        text-shadow: none;
        font-size: @font-size-small;
        a {
          color: @brand-danger;
          text-decoration: underline;
        }
      }
    }
    button.spinning {
      color: rgba(255,255,255,0.25);
    }
    .error-msg {
      margin-bottom: 20px;
      color: @brand-danger;
    }
  }
  #register {
    font-size: @font-size-small;
    font-weight: 300;
  }
}
