.task-row {
  padding: 40px 15px;
  text-align: center;
  input.form-control {
    border-style: none none solid none;
    border-radius: 0;
    outline: none;
    box-shadow: none;
    font-size: 1.5em;
  }
  .btn {
    padding-left: 20px;
    padding-right: 20px;
  }
}
