body#tasks {
  .task-row {
    padding: 40px 15px;
    input.form-control {
      font-size: 1.5em;
    }
    .btn {
      padding-left: 20px;
      padding-right: 20px;
    }
    #task-list {
      margin-top: 30px;
      font-size: 1.75em;
      font-weight: 300;
      &:hover {
        .task-list-item {
          .menu .fa-gear {
            display: inline;
            color: darken(@gray-lighter, 5%);
          }
        }
      }
      .task-list-item {
        padding: 10px 35px 10px 10px;
        position: relative;
        .menu {
          position: absolute;
          right: 10px;
          top: 8px;
          font-weight: 400;
          .fa-gear {
            display: none;
            font-size: @font-size-base;
            cursor: pointer;
          }
          .dropdown-menu {
            position: absolute;
            left: inherit;
            right: -10px;
          }
        }
        &:hover {
          .menu .fa-gear {
            color: lighten(@gray-light, 10%);
          }
        }
      }
    }
  }
}
