html.app {
  body {
    padding-top: 50px;
    .navbar {
      .fa-caret-down {
        margin-left: 5px;
      }
      .navbar-brand {
        margin-top: 12px;
        width: 120px;
        height: 20px;
        background: url('/images/logo.png');
        background-size: auto 80%;
        background-repeat: no-repeat;
      }
    }
    .page-header {
      position: relative;
      &:hover {
        ul.header-nav {
          a {
            color: @link-color;
          }
        }
      }
      ul.header-nav {
        position: absolute;
        right: 0;
        bottom: 20px;
        margin: 0;
        font-size: 1.2em;
        .list-unstyled;
        .list-inline;
        .pull-right;
        a {
          color: darken(@gray-lighter, 5%);
          &:hover {
            color: @link-hover-color;
          }
        }
      }
      #spinner {
        position: absolute;
        top: 25px;
        right: -22px;
      }
    }
    .admin-list {
      &:hover {
        td.row-nav {
          .list-inline {
            visibility: visible;
            a {
              color: darken(@gray-lighter, 5%);
            }
          }
        }
      }
      tr {
        &:hover {
          td.row-nav .list-inline {
            visibility: visible;
            a {
              color: @link-color;
              &:hover {
                color: @link-hover-color;
              }
            }
          }
        }
      }
      td.row-nav {
        text-align: right;
        .list-inline {
          visibility: hidden;
        }
      }
    }
  }
  form {
    .form-group {
      input.form-control {
        border-color: rgba(0,0,0,0.25);
      }
    }
  }
}
