html.app {
  body {
    padding: 50px 0 30px 0;
    .navbar {
      .fa-caret-down {
        margin-left: 5px;
      }
      .navbar-brand {
        margin-top: 12px;
        width: 120px;
        height: 20px;
        background: url('/images/logo.png');
        background-size: auto 80%;
        background-repeat: no-repeat;
      }
    }
    .page-header {
      position: relative;
      &:hover {
        ul.header-nav {
          a {
            color: @link-color;
          }
        }
      }
      ul.header-nav {
        position: absolute;
        right: 0;
        bottom: 20px;
        margin: 0;
        font-size: 1.2em;
        .list-unstyled;
        .list-inline;
        .pull-right;
        a {
          color: darken(@gray-lighter, 5%);
          &:hover {
            color: @link-hover-color;
          }
        }
      }
      #spinner {
        position: absolute;
        top: 25px;
        right: -22px;
      }
    }
    .text-loading {
      color: @gray-lighter;
    }
    form {
      .form-group {
        margin-bottom: 30px;
        label {
          font-weight: 400;
          font-size: @font-size-small;
          text-transform: uppercase;
        }
        input.form-control {
          border-color: rgba(0,0,0,0.25);
        }
      }
    }
    .admin-list {
      &:hover {
        td.row-nav {
          .list-inline {
            visibility: visible;
            a {
              color: darken(@gray-lighter, 5%);
            }
          }
        }
      }
      table {
        margin-bottom: 0;
      }
      tr {
        &:hover {
          td.row-nav .list-inline {
            visibility: visible;
            a {
              color: @link-color;
              &:hover {
                color: @link-hover-color;
              }
            }
          }
        }
      }
      td {
        padding: 12px 8px;
        &.row-nav {
          text-align: right;
          .list-inline {
            visibility: hidden;
            margin: 0;
          }
        }
      }
      nav.paging {
        margin-top: 10px;
        text-align: center;
        position: relative;
        .paginator {
          .list-unstyled;
          .list-inline;
          margin-bottom: 0;
          display: inline-block;
          &.spinning {
            opacity: 0.25;
            li.previous, li.next {
              a {
                cursor: default;
              }
            }
          }
          li.previous, li.next {
            font-size: 1.2em;
            &.disabled {
              a {
                &, &:hover, &:focus, &:active {
                  color: darken(@gray-lighter, 5%);
                  cursor: default;
                }
              }
            }
            a:focus {
              color: @link-color;
            }
          }
          li.current {
            input {
              width: 40px;
              text-align: center;
              padding: 5px;
            }
          }
        }
      }
    }
  }
}
