html.app {
  body {
    padding-top: 50px;
    .navbar {
      .fa-caret-down {
        margin-left: 5px;
      }
      .navbar-brand {
        margin-top: 12px;
        width: 120px;
        height: 20px;
        background: url('/images/logo.png');
        background-size: auto 80%;
        background-repeat: no-repeat;
      }
    }
    .admin-list {
      &:hover {
        td.row-nav {
          .list-inline {
            visibility: visible;
            a {
              color: darken(@gray-lighter, 5%);
            }
          }
        }
      }
      tr {
        &:hover {
          td.row-nav .list-inline {
            visibility: visible;
            a {
              color: @link-color;
            }
          }
        }
      }
      td.row-nav {
        text-align: right;
        .list-inline {
          visibility: hidden;
        }
      }
    }
  }
  form {
    .form-group {
      input.form-control {
        border-color: rgba(0,0,0,0.25);
      }
    }
  }
}
